*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.responsividade{
    max-width: 2000px;
    min-width: 300;
}

/* HEADER */

header{
    background-color:#BDC3DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 350px;
}

.header-img{
    margin-bottom: 5px;
}

.header-p{

    font-size: 25px;
    font-style: oblique

}

/* NAV */

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    flex-wrap: wrap;
    background-color:#AFEEEE;
    font-style: oblique
   
}

#nav-input-search{
    height: 30px;
    width: 200px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    flex-wrap: wrap;
    font-style: oblique
    
}


.nav-button{
    height: 30px;
    width: 50px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    flex-wrap: unset;
    font-style: oblique
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    font-style: oblique
}
.nav-links a{
   color: black;
}


.nav-links a:hover{
    color: white;
    
}

#nav-home{
    height: 30px;
    width: 80px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    

}
#nav-produtos{
    height: 30px;
    width: 80px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    
 
}
#nav-promocao{
    height: 30px;
    width: 80px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    
    
}
#nav-lista-de-desejos{
    height: 30px;
    width: 100px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
    
}

#nav-quem-somos{
    height: 30px;
    width: 100px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
}

#nav-trabalhe-conosco{
    height: 30px;
    width: 100px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
}




.nav-button-carrinho{
    height: 40px;
    width: 120px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px #BDC3DA;
    text-align: center;
}


/* MAIN */

main{

    background-color: #EEEEE0;
}

.main-h1{
    text-align: center;
    font-style: oblique;
}


.cards{

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px  20px 30px
    

}

/* SECTION ----------------------- */

.section{
    height: 350px;
    background-color:#AFEEEE;
    padding: 40px 10%;
    font-style: oblique
    

}


.section-h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px 10px 10px 2px;
    
}


.section-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    
}


.section-inputs{
    display: flex;
    flex-direction: column;
    margin:auto;
}


#seu-nome{
    height: 30px;
    width: 200px;
    margin-bottom: 70px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px black;
    text-align: center;
}


#seu-assunto{
    height: 30px;
    width: 200px;
    margin-bottom: 70px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px black;
    text-align: center;
}


#seu-email{
    height: 30px;
    width: 200px;
    margin-bottom: 30px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px black;
    text-align: center;
}


.section-inputs-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#seu-mensagem{
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
    margin-left: 80px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px black;
    text-align: center;
}


#seu-enviar{
    height: 30px;
    width: 80px;
    margin-bottom: 30px;
    margin-left: 80px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px  5px black;
    text-align: center; 
}


/* FOOTER --------------------------------*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color:#BDC3DA;
    height: 100%;
    flex-wrap: wrap;
    flex-grow: 4;
    padding: 40px 10%;
    
}

.footer-p1 {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 30px;
    font-style: oblique
}


.footer-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#footer-icone-facebook{
    margin-right: 12px;
    justify-content: space-between;
}


#footer-icone-instagram{
    margin-left: 12px;
    margin-right: 12px;
    justify-content: space-between;
}


#footer-icone-twitter{
    margin-left: 12px;
    justify-content: space-between;
}


.footer-p2 {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}
